<!doctype html>
<title>Symbols Tracked</title>
<link rel=stylesheet type=text/css
      href='{{url_for('static',filename='style_flaqs.css')}}'>
<link rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}">
<meta http-equiv="refresh" content="60">
<div class=page>
  <h1>Symbols</h1>
  <table>
    <thead><td>Thread</td><td>Symbol</td><td align=right>Last
    Price</td><td align="center">Change</td><td align=right>Updated</td></thead>
    {% for sym in syminfo %}
      <tr>
	<td>{{sym.tname}}</td>
	<td>{{sym.symbol}}</td>
	<td align=right>{{sym.lastprice}}</td>
	{% if sym.change < 0.0 %}
	  <td class="loss" align="center">{{sym.change}}</td>
	{% else %}
	  <td class="gain" align="center">{{sym.change}}</td>
	{% endif %}
	<td align=right>{{sym.updated}}</td>
	<td align=right>
	  <form action="delsym" method="post">
	    <input type="hidden" value="{{sym.symbol}}" name="symbol">
	    <input type="submit" name="{{sym.symbol}}" value="delete">
	  </form>
	</td>
      </tr>
    {% endfor %}
  </table>
  <hr>
  <form action="addsym" method="post">
    <input type="text" name="symbol">
    <input type="submit" value="Add Symbol">
    <input class="numinp" type="number" min="10" name="timer" value="20">
  </form>
  <hr>
  <table>
    <tr>
      <td align="left"><a href='threadstats'>thread info</a></td>
      <td align="right"><a href='stop'>stop threads</a></td>
    </tr>
  </table>
</div>
